#the-coolest-dog {
    color: blue;
}

#some-other-id {
    font-size: 50px;
}

.dog-picture {
    color: red;
    font-size: 40px;
}

.cat-picture {
    color: purple;
    font-size: 20px;
}

p {

}

div {

}

h2 {
    
}

.header {

}

.content {

}

.footer {

}